node_modules/*
!node_modules/epub/
server/tmp/*
server/download/*
files/*
!files/*.xml
server/config.json
server/synchronisation/libs/*
!server/synchronisation/libs/*.jar
!server/synchronisation/libs/lib/
