node_modules/*
!node_modules/epub/
server/tmp/*
server/download/*
files/*
!files/*.xml
server/config.json
server/synchronisation/srl/*
!server/synchronisation/srl/*.jar
!server/synchronisation/srl/lib/
