body{
	padding-top: 40px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#syncButton{
	margin-left: 2px;
}

#evalButton{
	margin-left: 4px;
}

#evaluationpanel{
	display:none;
	margin-top: 40px;
	width:50%;
}

#header{
	margin-bottom: 50px;
}

#progressmessage{
	padding-bottom: 10px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1100px;
    }
    body{
    	min-height: 900px;
    }
}